* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Montserrat", sans-serif !important;
}

.miniContainer {
  padding: 2rem 15rem;
}

/* Header styles */
.headerMain {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(57, 63, 72, 0.3);
  background-color: rgb(255, 255, 255);
}

.headerMain .dropdown-toggle {
  color: white !important;
  font-size: 1.1rem;
  position: relative;
  top: -0.5px;
}

.headerNavbarLogo {
  text-decoration: none;
}

.logoText {
  font-size: 1.5rem;
  font-weight: 700;

  color: rgb(0, 0, 0);
}

.navLinks {
  color: hsl(210deg 8% 55%);
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.navLinks:hover {
  color: hsl(210deg 8% 55%);
}

.entityNamePara {
  font-size: 1.3rem;
}

.uiBold {
  font-weight: 600;
}

.TitleSection {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  border-bottom: 1px solid #ccc;
  padding: 0 2rem;
}

.TitleSectionRight button {
  position: relative;
  top: 2px;
}

.studentTable {
  margin-top: 2rem;
  text-align: center;
  vertical-align: middle;
}

.studentTable a {
  color: black;
}

.studentTable td {
  padding: 1rem;
  font-weight: 500;
}

.studentTable th {
  text-transform: uppercase;
}

.actionsTd {
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.viewIcon {
  cursor: pointer;
}
.editIcon {
  cursor: pointer;
}
.deleteIcon {
  cursor: pointer;
}

.viewIcon:hover {
  color: blue;
}
.editIcon :hover {
  color: rgb(65, 65, 253);
}
.deleteIcon :hover {
  color: red;
}

.createStudentBody h4 {
  margin-bottom: 1rem;
}

.redColor {
  color: crimson;
}

.mb1rem {
  margin-bottom: 1rem;
}

.studentDetailsDiv {
  padding: 2rem;
  font-size: 1.2rem;
}

.centerAlign {
  text-align: center;
}

.mr1rem {
  margin-right: 1rem;
}

.nameTd {
  text-transform: capitalize;
}

.mentorFormDiv button {
  margin-top: 1rem;
}

.spinnerCenter {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}
@media only screen and (max-width: 992px) {
  .miniContainer {
    padding: 2rem 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .miniContainer {
    padding: 2rem 0;
  }
}
@media only screen and (max-width: 596px) {
  .TitleSection {
    flex-direction: column;
    gap: 1rem;
  }
  .TitleSection button {
    margin-bottom: 1rem;
  }
}
